* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --red-button: #f05c5c;
  --green-cards: #82BC00;
  --green-blue: #24bdc5;
  --yellow-cards: #FFB718;
  --gray-background: #f4f1ef;
  --green-blue-background: #00adbb;
  --green-other: #00afa9;
}

html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
}

.center {
  margin: 0 auto;
}

div {
  display: block;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

img#green-big  {
  max-width: 100%;
  padding: 110px 0px 0px 0px;
  width: 100vw;
}


p {
  display: block;
  margin-inline-start: 1em;
  margin-inline-end: 0;
  scroll-margin-inline-start: 0;
  text-align: center;
}

p#green {
  color: var(--green-blue-background);
}

p#white {
  color: var(--white);
}

h1#white {
  color: var(--white);
}

h1#green {
  color: var(--green-blue-background);
}

h1 {
  font-size: 55px;
  font-weight: 300;
  padding: 85px;
  text-align: center;
  text-transform: uppercase;
}

div#nav {
  background-color: var(--white);
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
}

ul {
  list-style: none;
}

div#nav ul {
  background-color: var(--white);
  padding: 30px;
  text-align: center;
}

div#nav li {
  display: inline-block;
}

div#nav li a {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 21px 0px 0px 34px;
  text-decoration: none;
  text-transform: uppercase;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-hello h1 {
  color: var(--green-blue-background);
  font-size: 80px;
}

div#div-hello {
  background-color: var(--white);
  display: block;
  padding: 45px 45px 45px 45px;
  text-align: center;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-services {
  background-color: var(--gray-background);
  display: block;
  text-align: center;
}

div#div-services h1 {
  margin: 0px 0px -160px 0px;
}

h2#s-green {
  color: var(--green-blue-background);
  font-size: 18px;
  height: 42px;
  margin: 32px 0px 32px 0px;
  overflow: hidden;
  padding: 6px 0px 6px 0px;
  text-align: center;
  text-transform: uppercase;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-services ul li {
  margin: 0px 0px 10px 0px;
}

div#div-services #service-con {
  display: flex;
  flex-wrap: wrap;
  padding: 180px;
}

div.service {
  display: inline-block;
  flex: 1;
  margin: 10px 10px 10px 50px;
  text-align: center;
  width: 175px;
}

div#div-services p {
  padding: 0px 0px 15px 0px;
  text-transform: uppercase;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-clients {
  background-color: var(--green-blue);
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-products {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
}

div#div-products #p_description-products {
  margin: 10px;
  max-width: 600px;
}

div#div-products #products-clean {
  flex-direction: column;
  padding: 0px 0px 15px 0px;
  margin: 45px;
  width: 221px;
}

div#div-products #products-clean img, p, button {
  flex: 1;
  padding: 0px 0px 20px 0px;
}

div#div-products #flex-child {
  flex-direction: column;
  margin: 0px 0px 30px 0px;
}

div#div-products #flex-child1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 30px 0px;
}

div#div-products #clean-green {
  background-color: var(--green-cards);
  margin: 0px 0px 20px 0px;
}

div#div-products #clean-blue {
  background-color: var(--green-other);
  margin: 0px 0px 20px 0px;
}

div#div-products #clean-red {
  background-color: var(--red-button);
  margin: 0px 0px 20px 0px;
}

div#div-products .button-clean {
  border-radius: 3px;
  color: var(--white);
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 5px 0px;
  text-transform: uppercase;
  width: 240px;
}

div#div-products #imgCar {
  display: inline;
  text-align: center;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#mission-view-values {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div#div-about-us {
  background-color: var(--gray-background);
  padding: 35px;
  text-align: center;
}

div#div-about-us #container-about-us {
  padding: 80px;
}

div#div-about-us #cont-about-us #description {
  display: block;
  margin: 0px 0px 30px 25px;
  text-align: justify;
}

div#div-about-us #cont-about-us #description h2 {
  color: var(--green-blue-background);
  font-weight: bold;
}

div#div-about-us #cont-about-us #description p {
  margin-inline-start: 0;
  text-align: left;
}

h2.h2-green {
  color: var(--green-blue-background);
  margin: 0px 0px 50px 0px;
}

div#div-about-us #cont-about-us {
  display: flex;
  padding: 0px 0px 0px 10px;
  text-align: center;
}

button#btn-mvv {
  color: var(--white);
  cursor: pointer;
  background-color: var(--red-button);
  border: 0;
  border-radius: 4px;
  display: block;
  font-weight: 300;
  font-size: 26px;
  margin: 0 auto;
  margin: 30px 0px auto 0px;
  padding: 12px 50px 12px 50px;
  text-decoration: none;
  text-transform: uppercase;
}

div#card-mission {
  background-color: var(--green-blue-background);
}

div#card-view {
  background-color: var(--green-cards);
}

div#card-values {
  background-color: var(--yellow-cards);
}

div.card {
  border-radius: 4px;
  box-shadow: 0px 5px 15px 0px rgba(153, 153, 153, 0.5);
  color: var(--white);
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  height: 141px;
  margin: 0px 8px 16px 8px;
  /*Se elimino la linea de Flex:1, esto es para que el elemento crezaca en relacion a otros
    como esto se le estaba aplicando a las 3 cartas pero se quiere un width fijo, esto hacia que el efecto de 
    wrap no funcionara. En combinacion con quitarle a el div que lo contiene la propiedad de "width:max-contect"*/
  padding: 20px;
  text-align: center;
  vertical-align: top;
  width: 220px;
}

div.card h2 {
  font-weight: bold;
  margin: 5px;
}

div#div-about-us #container-mvv #cont-flex-mvv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-our-history {
  background-color: var(--green-blue);
}

div#div-our-history #container-history {
  display: flex;
  flex-wrap: wrap;
  padding: 61px;
}

div#div-our-history #container-history .history-div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 85px;
  text-align: center;
}

div#div-our-history #container-history .history-div img {
  margin: 0px 0px 30px 0px;
}

div#div-our-history #container-history .history-div .icon {
  width: 240px;
}

div#div-our-history #container-history .history-div .txt-history {
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
  width: 240px;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-blog {
  background-color: var(--gray-background);
}

div#div-blog h1 {
  padding: 50px;
}

div#div-blog #contenedor-card-blog {
  padding: 60px;
}

div#div-blog #blog-cards {
  background-color: var(--green-blue-background);
  box-shadow: 0px 5px 15px 0px rgba(153, 153, 153, 0.5);
  color: var(--white);
  display: block;
  font-weight: 300;
  font-size: 16px;
  height: 140px;
  margin: 0px 8px 16px 8px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  vertical-align: top;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-contact {
  align-items: center;
  background-color: var(--green-blue);
  DISPLAY: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

div#div-contact .entry-form, #button-form, #social-net {
  flex: 1;
}

div#div-contact #social-net {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

div#div-contact #social-net a {
  text-align: center;
  flex: 1;
  margin: 20px;
}

div#div-contact #social-net a img {
  width: 58px !important;
  padding: 10px;
}

div#div-contact h1 {
  padding: 0px 0px 3px 0px;
}

div#div-contact .entry-form {
  display: flex;
  flex-wrap: wrap;
  padding: 70px;
}

div#div-contact .entry-form #div-flex-form {
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 65px;
  margin: 10px;
  width: 45%;
}

div#div-contact .entry-form #divFlexFormSelector {
  background-color: var(--white);
  border-radius: 4px;
  border: none;
  height: 65px;
  margin: 6px;
  width: 93%;
}

div#div-contact .entry-form {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 70px;
}

div#div-contact .entry-form #selector {
  border: none;
  width: 100%;
}

div#div-contact .entry-form #divFlexFormMens {
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 240px;
  margin: 6px;
  width: 93%;
}

div#div-contact #button-form {
  border-radius: 4px;
  border: 0;
  border: none;
  cursor: pointer;
  flex: 1;
  font-family: 'OpenSans';
  font-weight: 300;
  font-size: 26px;
  height: 25px;
  margin: 30px 0px 10px 0px;
  padding: 0px 0px 17px 0px;
  text-transform: uppercase;
  width: 40px;
}

div#div-contact .entry-form #divFlexFormMens #txtMens {
  border: none;
  margin: 15px 1% 0px 1%;
  position: relative;
  width: 90%;
}

div#div-contact .entry-form #divFlexFormMens img {
  margin: 8px 9px 190px 26px;
}

div#div-contact .entry-form #div-flex-form img {
  margin: 16px 15px 15px 15px;
}

input[type=text] {
  border: none;
  margin: 0px 1% 0px 1%;
  position: relative;
  width: 90%;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-shop {
  background-color: var(--gray-background);
}

div#div-shop img {
  max-width: 100%;
  width: 100vw;
}

/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

#div-pic-big {
  /*este div es el contenedor de todo */
  overflow: hidden;
  margin: 0 auto;
  padding: 0%;
  position: relative;
}
.navButton{
  /*Nice buttons*/
  cursor: pointer;
  background: #000000;
  color: white;
  display: none;
  font-size: 18px;
  font-weight: bold;
  float: left;
  height: 22px;
  margin-right: 5px;
  opacity: 0.65;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  user-select: none;
  width: 25px;
}

.navButton:hover {
  opacity: 1;
  
}

.imageContainer:not(:first-child) {
  /* Hide all images except the first */
  display: none;
}



/* -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales -Contenedores de Secciones principales*/

div#div-shop{
  height: 50vw;
  margin: 0;
  padding: 0;
}
div#div-shop   #map {
  height: 100%;
}
/*  -Media Querys -Media Querys -Media Querys -Media Querys -Media Querys -Media Querys -Media Querys -Media Querys -Media Querys -Media Querys -Media Querys -Media Querys -Media Querys */

@media screen and (max-width:890px) {
  div#nav li a {
    margin: 10px 0px 0px 15px;
  }
  div#div-products #flexChild1 {
    flex-direction: column;
  }
  div#div-products #products-clean #img-up {
    display: none;
    padding: 10px 0px 0px 0px;
  }
  div#div-products {
    width: 100%;
  }
  div#div-products #products-clean {
    margin: 0px;
    width: 100%;
  }
  div#div-products .button-clean {
    margin: 5px;
    padding: 0px 0px 10px 0px;
    width: 100%;
  }
  button#btn-mvv {
    font-size: 18px;
    padding: 0px 20px 0px 20px;
    text-align: center;
    width: 226px;
  }
  div#nav li a {
    display: none;
  }
  div#div-contact .entry-form #div-flex-form img {
    display: none;
  }
  div#div-contact .entry-form #divFlexFormMens img {
    display: none;
  }
}

@media screen and (max-width:545px) {
  div#div-contact .entry-form #div-flex-form {
    margin: 6px;
  }
  div#div-contact .entry-form {
    padding: 0px;
  }
  div#div-contact #social-net {
    padding: 0%;
  }
}

@media screen and (max-width:450px) {
  div#div-about-us #cont-about-us {
    display: block;
  }
}